h1,
h2 {
  font-family: "Inter UI", sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 10em;
  text-shadow: 2px 2px 5px yellow;
}

body {
  background-color: #121222;
  margin: 100px auto;
}
